.login-page {
    display: grid;
    place-items: center;
    margin: 16px;
    border: 1px solid black;
}

.login-component {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 4px;
}
