<div class="login-page">
    <div class="login-component" [formGroup]="loginForm" (keyup.enter)="login()">
        <div class="section-title">Login</div>
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" />
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" />
        <button class="button" (click)="login()">Login</button>
        <div class="section-title">Forget Password?</div>
        <button class="button" (click)="resetPassword()">Reset Password</button>
        <div class="section-title">Need an Account?</div>
        <button class="button" (click)="registerNewUser()">Register</button>
    </div>
</div>
