<div class="journals-container">
    <div class="create-journal-component" [formGroup]="createJournalForm">
        <div class="section-title">Create Journal</div>
        <label for="name">Name</label>
        <input type="text" name="name" formControlName="name" />
        <label for="description">Description</label>
        <input type="text" name="description" formControlName="description" />
        <div class="button" (click)="createJournal()">Create Journal</div>
    </div>
    <div *ngIf="journals" class="journals-component">
        <div class="section-title">Journals</div>
        <div *ngFor="let journal of journals">
            <p>Name {{ journal.name }}</p>
            <p>Description {{ journal.description }}</p>
            <p>ID {{ journal._id }}</p>
        </div>
    </div>
    <div class="journal-details-component" [formGroup]="getJournalForm">
        <div class="section-title">Get Journal Details</div>
        <label for="journalId">Journal ID</label>
        <input type="text" name="journalId" formControlName="id" />
        <div *ngIf="journal">
            <div>Journal Details</div>
            <p>ID {{ journal._id }}</p>
            <p>Name {{ journal.name }}</p>
            <p>Description {{ journal.description }}</p>
            <p>Entries {{ journal.entries.length }}</p>
            <div class="button" (click)="createEntry()" *ngIf="!creatingEntry">Create Journal Entry</div>
            <div *ngIf="creatingEntry" [formGroup]="createEntryForm">
                <div class="section-title">New Journal Entry</div>
                <label for="entryTitle">Title</label>
                <div>
                    <input name="entryTitle" type="text" formControlName="entryTitle" />
                </div>
                <label for="entryDesctiption">Description</label>
                <div>
                    <input name="entryDescription" type="text" formControlName="entryDescription" />
                </div>
                <label for="entryBody">Body</label>
                <div>
                    <input class="journal-entry-body" name="entryBody" type="textarea" formControlName="entryBody" />
                </div>
                <div class="button" (click)="saveEntry()">Save Journal Entry</div>
            </div>
        </div>
        <div class="button" (click)="findOne()">Get Journal</div>
    </div>
    <div class="delete-journal-component" [formGroup]="deleteJournalForm">
        <div class="section-title">Delete Journal</div>
        <label for="journalId">Journal ID</label>
        <input type="text" name="journalId" formControlName="id" />
        <div id="delete-status">{{ deleteStatus || "" }}</div>
        <div class="button" (click)="delete()">Delete Journal</div>
    </div>
</div>
