.journals-container {
    display: grid;
    place-items: center;
    margin: 16px;
    border: 1px solid black;
}

.create-journal-component,
.journals-component,
.journal-details-component,
.delete-journal-component {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 4px;
}

.journal-entry-body {
    width: 600px;
    height: 200px;
}

.section-title {
    font-weight: 700;
    text-align: center;
}
