<div class="cat-page">
    <div class="create-cat-form" [formGroup]="createCatForm">
        <label for="catName">Cat Name</label>
        <input type="text" name="catName" formControlName="catName" />
        <label for="catAge">Cat Age</label>
        <input type="number" name="catAge" formControlName="catAge" />
        <label for="catBreed">Cat Breed</label>
        <input type="text" name="catBreed" formControlName="catBreed" />
        <div class="button" (click)="createCat()">Create Cat</div>
    </div>
    <div class="get-cat-details" [formGroup]="getCatForm">
        <label for="catId">Cat ID</label>
        <input type="text" name="catId" formControlName="catId" />
        <div *ngIf="catDetails">
            <div>Cat Details</div>
            <p>ID {{ catDetails._id }}</p>
            <p>Name {{ catDetails.catName }}</p>
            <p>Age {{ catDetails.catAge }}</p>
            <p>Breed {{ catDetails.catBreed }}</p>
        </div>
        <div class="button" (click)="getCat()">Get Cat</div>
    </div>
</div>
