<div class="journal-page">
    <div class="journal-component" *ngIf="journal">
        <div class="button" (click)="backToJournals()">Back to Journals List</div>
        <h1>{{ journal.name }}</h1>
        <p>{{ journal.description }}</p>
        <div *ifRoles="['admin']">
            <div class="button" (click)="createEntry()" *ngIf="!creatingEntry">Create Journal Entry</div>
            <div *ngIf="creatingEntry" [formGroup]="journalEntryForm">
                <div class="section-title">New Journal Entry</div>
                <label for="entryTitle">Title</label>
                <div>
                    <input name="entryTitle" type="text" formControlName="title" />
                </div>
                <label for="entryBody">Body</label>
                <div>
                    <textarea class="journal-entry-body" name="entryBody" formControlName="body"></textarea>
                </div>
                <div class="button" (click)="saveEntry()">Save Journal Entry</div>
                <div class="button" (click)="cancel()">Cancel</div>
            </div>
        </div>
        <div class="journal-entry" *ngFor="let entry of journalEntries">
            <h2>{{ entry.title }}</h2>
            <h4>{{ formatDate(entry.createdAt) }}</h4>
            <p>{{ entry.body }}</p>
        </div>
    </div>
</div>
