<div class="journal-page">
    <div class="journal-component" *ngIf="journal">
        <div class="button" (click)="backToJournals()"><mat-icon>arrow_back</mat-icon></div>
        <h1>{{ journal.name }}</h1>
        <p>{{ journal.description }}</p>
        <div *ifRoles="['admin']">
            <div class="button" (click)="createEntry()" *ngIf="!creatingEntry"><mat-icon>add</mat-icon></div>
            <div class="create-journal-entry-component" *ngIf="creatingEntry" [formGroup]="journalEntryForm">
                <h2 class="section-title">New Journal Entry</h2>
                <label for="entryTitle"><h3>Title</h3></label>
                <input name="entryTitle" type="text" formControlName="title" />
                <label for="entryBody"><h3>Body</h3></label>
                <textarea class="journal-entry-body" name="entryBody" formControlName="body"></textarea>
                <div class="button" (click)="saveEntry()"><mat-icon>save</mat-icon></div>
                <div class="button" (click)="cancel()"><mat-icon>cancel</mat-icon></div>
            </div>
        </div>
        <div class="journal-entry" *ngFor="let entry of journalEntries">
            <h2>{{ entry.title }}</h2>
            <h4>{{ formatDate(entry.createdAt) }}</h4>
            <p>{{ entry.body }}</p>
        </div>
    </div>
</div>
