.journal-page {
    padding: 1rem;
}

.journal-component {
    position: relative;
    background-color: burlywood;
    border: 3px solid black;
    width: 800px;
    padding: 16px;
    margin: 0 auto;
}

.button-left {
    position: absolute;
    top: 24px;
    left: -48px;
    border-radius: 50% 6px 6px 50%;
}

.button-right {
    position: absolute;
    top: 32px;
    right: 16px;
}

input {
    font-size: 18px;
}

.editor-component,
.add-image-component,
.create-journal-entry-component {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 4px;
}

.editor-select-bar {
    display: flex;
    flex-direction: row;
}

.editor-select-button {
    width: 96px;
    background-color: beige;
    font-size: 16px;
    text-align: center;
    border: 3px solid black;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    margin-right: 2px;
}

.editor-button-selected {
    background-color: rgb(223, 221, 95);
}

.editor-select-button:hover {
    background-color: hsl(182, 25%, 60%);
}

.journal-entry-textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    background-color: burlywood;
    border: 3px solid black;
    outline: none;
    font-size: 18px;
    word-wrap: break-word;
    resize: none;
}

.journal-entry-preview {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    font-size: 18px;
    border: 3px solid black;
}

.journal-entry {
    border: 1px solid black;
    margin: 8px 0;
    padding: 1rem;
}

.journal-entry > h2 {
    margin: 0;
}

.section-title {
    font-weight: 700;
    text-align: center;
}
