.journal-page {
    padding: 1rem;
}

.journal-component {
    background-color: burlywood;
    border: 1px solid black;
    padding: 16px;
    width: 800px;
    margin: 0 auto;
}

input {
    font-size: 18px;
}

.journal-entry-body {
    width: 600px;
    height: 200px;
    border: none;
    outline: none;
    font-size: 18px;
    word-wrap: break-word;
    resize: none;
}

.journal-entry {
    border: 1px solid black;
    margin: 8px 0;
    padding: 1rem;
}

.journal-entry > h2 {
    margin: 0;
}
