.journal-component {
    background-color: burlywood;
    border: 1px solid black;
    padding: 16px;
}

input {
    font-size: 18px;
}

.journal-entry-body {
    width: 600px;
    height: 200px;
    border: none;
    outline: none;
    font-size: 18px;
    word-wrap: break-word;
    resize: none;
}
