.journal-list-page {
    padding: 1rem;
}

.journal-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: burlywood;
    border: 1px solid black;
    width: 600px;
    margin: 0 auto;
    padding: 16px;
    overflow: auto;
}

.journal {
    padding: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.journal:hover {
    background-color: rgb(191, 159, 116);
}

.create-journal-component {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 4px;
}

.section-title {
    font-weight: 700;
    text-align: center;
}
