<div class="journal-list-page">
    <div class="journal-list">
        <h1>The Journals</h1>
        <div *ifRoles="['admin']">
            <div *ngIf="!creatingJournal" class="button round-button" (click)="addNewJournal()">
                <mat-icon>add</mat-icon>
            </div>
            <div *ngIf="creatingJournal" class="create-journal-component" [formGroup]="createJournalForm">
                <h2 class="section-title">Create Journal</h2>
                <label for="name"><h3>Name</h3></label>
                <input type="text" name="name" formControlName="name" />
                <label for="description"><h3>Description</h3></label>
                <input type="text" name="description" formControlName="description" />
                <div class="button-bar">
                    <div class="button round-button" (click)="createJournal()"><mat-icon>save</mat-icon></div>
                    <div class="button round-button" (click)="cancel()"><mat-icon>cancel</mat-icon></div>
                </div>
            </div>
        </div>
        <div class="journal" *ngFor="let journal of journals" (click)="gotoJournal(journal._id)">
            <h2>{{ journal.name }}</h2>
            <h3>{{ journal.description }}</h3>
        </div>
    </div>
</div>
