<div class="users-page">
    <div class="create-user-component" [formGroup]="createUserForm">
        <div class="section-title">Create User</div>
        <label for="name">Name</label>
        <input type="text" name="name" formControlName="userName" />
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" />
        <label for="password">Password</label>
        <input type="text" name="password" formControlName="password" />
        <button class="button" (click)="createUser()">Create User</button>
    </div>
    <div *ngIf="users" class="users-component">
        <div class="section-title">Users</div>
        <div *ngFor="let user of users">
            <p>Name {{ user.userName }}</p>
            <p>ID {{ user._id }}</p>
        </div>
    </div>
    <div class="user-details-component" [formGroup]="getUserForm">
        <div class="section-title">Get User Details</div>
        <label for="userId">User ID</label>
        <input type="text" name="userId" formControlName="userId" />
        <div *ngIf="userDetails">
            <div>User Details</div>
            <p>ID {{ userDetails._id }}</p>
            <p>Name {{ userDetails.userName }}</p>
            <p>Email {{ userDetails.email }}</p>
            <p>Password {{ userDetails.password }}</p>
        </div>
        <button class="button" (click)="findOne()">Get User</button>
    </div>
    <div class="delete-user-component" [formGroup]="deleteUserForm">
        <div class="section-title">Delete User</div>
        <label for="userId">User ID</label>
        <input type="text" name="userId" formControlName="userId" />
        <div id="delete-status">{{ deleteStatus || "" }}</div>
        <button class="button" (click)="delete()">Delete User</button>
    </div>
</div>
