.users-page {
    display: grid;
    place-items: center;
    margin: 16px;
    border: 1px solid black;
}

.create-user-component,
.users-component,
.user-details-component,
.delete-user-component {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    padding: 1rem;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 4px;
}

.section-title {
    font-weight: 700;
    text-align: center;
}

.button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: beige;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: aqua;
}
