<div class="password-reset-page">
    <div *ngIf="!emailSent" class="password-reset-component" [formGroup]="passwordResetForm">
        <div class="section-title">Reset Password</div>
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" />
        <button class="button" (click)="resetPassword()">Reset</button>
        <button class="button" (click)="returnToLogin()">Cancel</button>
    </div>
    <div *ngIf="emailSent" class="password-reset-component">
        <div class="section-title">Check you email for a password reset link</div>
        <button class="button" (click)="returnToLogin()">Back to Login</button>
    </div>
</div>
