<div class="password-reset-page">
    <div *ngIf="token && tokenValid" class="password-reset-component" [formGroup]="passwordResetForm">
        <div class="section-title">Choose a new Password</div>
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" />
        <button class="button" (click)="resetPassword()">Reset Password</button>
    </div>

    <div *ngIf="!token || !tokenValid" class="password-reset-component">
        <div class="section-title">The provided token is invalid</div>
        <button class="button" (click)="returnToLogin()">Return to login</button>
    </div>
</div>
