@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    text-align: center;
}

.content {
    height: 100%;
}

.footer {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: beige;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: hsl(182, 25%, 60%);
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}
